.tag-dropbtn {
    /*    background-color: #EEE;*/
    height: 100%;
    width: 30px;
    color: white;
    font-size: 1em;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.tag-dropbtn:hover,
.tag-dropbtn:focus {
    color: white;
    background-color: transparent;
}

.tag-dropdown-content {
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 30px;
}

.tag-dropdown-content button {
    color: white;
    text-decoration: none;
    font-size: inherit;
    display: block;
    width: 100%;
    border: none;
}

@media (max-width: 800px) {
    /* Make sure dropdown doesn't overflow the screen */
    .tag-dropdown-content {
        transform: translate(-88%);
    }
}
