.dropbtn {
    /*    background-color: #EEE;*/
    height: 100%;
    width: 100%;
    color: #555;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
    color: black;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: inherit;
    display: block;
    width: 100%;
    border: none;
    background-color: #f1f1f1;
}

.dropdown button:hover {
    background-color: #ddd;
}

@media (max-width: 800px) {
    /* Make sure dropdown doesn't overflow the screen */
    .dropdown-content {
        transform: translate(-88%);
    }
}
