#navbar {
    padding: 20px;
    background-color: #282c34;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

#navbar-menu-items {
    display: flex;
    flex-direction: row;
}

#navbar-site-title {
    margin-left: 10px;
}

.navbar-icon {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
